<nav class="navbar">
    <div class="max-width">
        <div class="logo">
            <a href="#home">Programmers Hub Bot<span></span></a>
        </div>

        <ul class="menu">
            <li><a href="/" class="menu-btn">Home</a></li>
            
            <li><a href="/dashboard#servers" class="menu-btn">My Servers</a></li>

            <li><a href="/discord" class="menu-btn">Support Server</a></li>

            <li id="navuserdetailsitem">
                <a href="/auth/logout" id="welcometext">Welcome <%-username%></a>
                <a href="/auth/logout" id="logouttext">Logout</a>
            </li>
        </ul>

        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>