

  <footer>
    <a style="display: none;" href="//www.dmca.com/Protection/Status.aspx?ID=04da08e3-40f5-4320-8093-86b1c519bf13"
      title="DMCA.com Protection Status" class="dmca-badge">
      <img src="https://images.dmca.com/Badges/dmca-badge-w150-5x1-07.png?ID=04da08e3-40f5-4320-8093-86b1c519bf13"
        alt="DMCA.com Protection Status" /></a>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>

    <a style="display: none;" href="https://www.dmca.com/compliance/Mikuni.gq"
      title="DMCA Compliance information for Mikuni.gq"><img
        src="https://www.dmca.com/img/dmca-compliant-grayscale.png" /></a>

    <span>Made by Programmers Hub
      ><br />Copyright <span class="far fa-copyright"></span> Programmers Hub Bot 2022</span>
  </footer>

  <script src="/js/aos.js"></script>

  <script type="text/javascript">
    AOS.init({
      duration: 1000
    });
  </script>

  <script src="/js/script.js"></script>

  <script>
    $(window).on("load", function () {
      $(".loader-wrapper").fadeOut("slow");
    });
  </script>

  <script src="/js/particles.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>