<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Programmers Hub Bot Dashboard </title>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="icon"
    href="https://cdn.discordapp.com/attachments/947152711684616202/947390801825112074/final_621b21050628cd0059daca59_39399.gif" />

  <bgsound src="https://cdn.discordapp.com/attachments/954298244475813963/954298383827365898/bensound-betterdays.mp3"
    loop="infinite">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/aos.css" />
</head>

<body>